/* Reset styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Global styles */
body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

/* Header styles */
header {
	background-color: #333;
	color: #fff;
	padding: 20px;
}

/* Main styles */
main {
	padding: 20px;
}

/* Button styles */
button {
	background-color: #333;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
}

button:hover {
	cursor: pointer;
	background-color: #666;
}

/* Image container styles */
.image-container {
	max-width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 20px;
}

/* Image styles */
img {
	max-width: 100%;
	height: auto;
	animation: move 5s linear infinite;
}

/* Animation styles */
@keyframes move {
	0% { transform: translateX(0); }
	50% { transform: translateX(50px); }
	100% { transform: translateX(0); }
}

/* Media queries */
@media only screen and (min-width: 768px) {
	main {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.image-container {
		max-width: 50%;
		margin-right: 20px;
		margin-bottom: 0;
	}

	/* Image styles */
	img {
		max-width: 100%;
		height: auto;
		animation: move 5s linear infinite;
	}
}

@media only screen and (min-width: 992px) {
	main {
		flex-direction: row-reverse;
	}

	.image-container {
		max-width: 50%;
		margin-left: 20px;
	}
}
